#message{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    font-family: 'Cinzel Decorative', cursive;
    vertical-align: auto;
    font-size: 120%;
    border: none;
    padding: 3px 20px;
    text-align: center;
    font-weight: 700;
  }

.square{
    float: left;
    width: 30%;
    padding-bottom: 6%;
    padding-top: 5%;
    background-color: gray;
    margin: 1.5%;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 420%;
    vertical-align: auto;
  }

.container-fluid{
    max-width: 850px;
    height: fit-content;
    text-align: center;
    margin: 0 auto 420px;
    padding: 0 50px;
  }

body{
  background-color: #3a3a3a;
  } 

h1{
  background-color: rgb(205, 22, 22);
  color: white;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  margin: 0.5% 10% 0.3%;
  border-color: rgb(205, 22, 22);
  padding: 0.5%;
  border-radius: 10px;
  }

#stripe{
  background-color: rgb(22, 22, 22);
  height: 30px;
  text-align: center;
  margin: 0% 10% 0%;
  border-radius: 10px;
}

#colorDisplay{
  font-size: 200%;
  font-weight: 700;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.visible {
  visibility: visible;
  opacity: 100
}

.esconder{
  visibility: hidden;
}

.bot{
border: none;
padding: 2px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
background-color: rgb(22, 22, 22);
color: white;
font-family: 'Cinzel Decorative', cursive;
font-size: 105%;
height: 30px;
}


.selected{
  background-color: white;
  color: rgb(22, 22, 22);
  font-weight: 700;
}

.copy{
  background-color: rgb(22, 22, 22);
  height: 30px;
  color: white; 
  text-align: center;
  margin: 0 10%;
  border-radius: 10px;
} 

#gm{
  width: 20px;
}

#ig{
  width: 20px;
}

@media only screen and (min-width: 100px) and (max-width: 1200px){

  .copy{
    height: 90px;
  }
  .linea{
    margin: 2px auto;
  }
}


@media only screen and (min-width: 100px) and (max-width: 955px){

  .bot{
    padding: 2px 10px;
    font-size: 90%;
    }

  #message{
    font-size: 100%;
    padding: 3px 10px;
    }
    
  #stripe{
    margin: 0% 5% 0%;
  }

  h1{
    margin: 0.5% 5% 0.5%;
    padding: 0.5%;
    }

}


@media only screen and (min-width: 100px) and (max-width: 675px){

  .bot{
    font-size: 75%;
    height: 25px;
    padding: 0px 10px;
    }

  #message{
    font-size: 80%;
    }

  #stripe{
    height: 25px;
    padding: 0px 10px;
    }

  .navi{
    height: 25px;
    line-height: 19px;
  }

  .square{
    font-size: 350%;
  }

  .container-fluid{
    margin-bottom: 350px;
  }

  h1{
    margin: 0.5% 5% 1%;
    padding: 0.5%;
    }
 
}

@media only screen and (min-width: 100px) and (max-width: 576px){

  .bot{
    font-size: 60%;
    height: 20px;
    padding: 2px 5px;
    }
  
  #message{
    font-size: 65%;
    padding: 3px 2px;
    }

  .navi{
    height: 20px;
    line-height: 14px;
    }
    
  #stripe{
    height: 20px;
    line-height: 20px;
    }

  .square{
    font-size: 300%;
    width: 47%;
    }

  .container-fluid{
     margin-bottom: 420px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 446px){

  .bot{
    font-size: 45%;
    height: 15px;
    padding: 0px 2px;
    }
  
  #message{
    font-size: 50%;
    padding: 0px;
    }

  .navi{
    height: 15px;
    line-height: 6px;
    }
    
  #stripe{
    height: 15px;
    line-height: 6px;
    }

  .square{
    font-size: 250%;
    }

  .container-fluid{
    padding: 0 20px;
    margin-bottom: 350px;
  }

  .linea{
    font-size: 75%;
  }

  #gm{
    width: 15px;
  }
  
  #ig{
    width: 15px;
  }

  .copy{
    height: 70px;
  }

}

@media only screen and (min-width: 100px) and (max-width: 350px){

  .bot{
    font-size: 35%;
    height: 15px;
    padding: 0px;
    }
  
  #message{
    font-size: 40%;
    padding: 0px;
    }

  .navi{
    height: 15px;
    line-height: 6px;
    }
    
  #stripe{
    height: 15px;
    line-height: 6px;
    }

  .square{
    font-size: 200%;
    }

  .container-fluid{
    margin-bottom: 275px;
    }

  h1{
    font-size: 120%;
  }
}